/* RESET */

body main div p ul button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}
 a {
   text-decoration: none;
 }
.group:after {
  content: "";
  display: block;
  clear: both;
}

button {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: none;
}
img {
  display: block;
  width: 100%;
  margin: auto;
}

.example-container {
  border: 2px solid #0276FD;
  border-radius: 5px;
  padding: 5px;
  max-width: 400px;
  margin: auto;
}

footer img {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
}
footer img:hover {
  margin: -5px;
  border: 5px solid #0276FD;
  background: #fff;
}

/* BODY */

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  text-align: center;
}

#introduction {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fce8e8; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fce8e8 0%, #fe9090 45%, #ff1e1e 100%);
  background: -webkit-linear-gradient(-45deg, #fce8e8 0%,#fe9090 45%,#ff1e1e 100%);
  background: linear-gradient(135deg, #fce8e8 0%,#fe9090 45%,#ff1e1e 100%);
  color: #000;
  z-index: 1;
}

#introduction > h1 {
  text-shadow: 2px 2px 4px #0276FD;
}

#introduction p {
  font-weight: 700;
}

#begin {
  border: 5px solid
}

#start {
  font-family: 'Orbitron', sans-serif;
  font-size: 0.875em;
  display: block;
  margin: auto;
  width: 60%;
  max-width: 300px;
  height: 60px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: 5px solid #0276FD;
  padding: 10px;
}

#start:hover {
  color: #000;
  background: #fff;
}

#root {
  margin: 60px auto;
  text-align: center;
}

#score-box {
  text-align: center;
  display: block;
  padding: 10px;
}

#target-word {
  background: #fff;
  display: inline;
  text-align: center;
  border-radius: 5px;
  border: 5px solid #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  padding: 10px;
  text-transform: uppercase;
}

#current-level {
  display: inline-block;
}

#choices-container {
  margin: auto;
  width: 90%;
  height: 150px;
}

.choice-button {
  float: left;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  display: block;
  margin: 1%;
  width: 48%;
  height: 60px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: 5px solid #0276FD;
  padding: 10px;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}

.choice-button-hover {
  transform: scale(1.2);
  background: #fff;
  color: #000;
  letter-spacing: 8px;
  border-radius: 0;
  box-shadow: inset 0 0 0 5px #000;
}

.strobe {
  margin: auto;
  background: transparent;
  -webkit-animation: pulse 1s ease-out;
  -moz-animation: pulse 1s ease-out;
  animation: pulse 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 1;
  opacity: 0;
}

#countdown-timer {
  background: #fff;
  display: inline-block;
  font-size: 40px;
  padding: 20px;
  border: 5px solid #0276FD;
  border-radius: 5px;
}

.correct-choice {
  background: #fff;
  color: #000;
  box-shadow: inset 0 0 0 5px #000;
}

#play-again {
  margin: auto;
  cursor: pointer;
  display: none;
  background: #fff;
  font-size: 40px;
  padding: 20px;
  border: 5px solid #0276FD;
  border-radius: 5px;
}

#play-again:hover {
  background: #000;
  color: #fff;
  font-size: 40px;
  padding: 20px;
  border: 5px solid #0276FD;
  border-radius: 5px;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0.4);
    opacity: 0.4;
 }
 25% {
    -moz-transform: scale(0.5);
    opacity: 0.6;
 }
 50% {
    -moz-transform: scale(0.6);
    opacity: 0.8;
 }
 75% {
    -moz-transform: scale(0.7);
    opacity: 1.0;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0.4);
    opacity: 0.4;
 }
 25% {
    -webkit-transform: scale(0.5);
    opacity: 0.6;
 }
 50% {
    -webkit-transform: scale(0.4);
    opacity: 0.8;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 1.0;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}


.footer {
  margin: 10px;
}

.footer a {
  padding: 10px;
}
