/* RESET */

body main div p ul button article{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}
 a {
   text-decoration: none;
 }
.group:after {
  content: "";
  display: block;
  clear: both;
}

button {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: none;
}
img {
  display: block;
  width: 100%;
  margin: auto;
}

/* INTRO SCREEN */

#introduction {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
  align-content: stretch;
  background: #fce8e8; /* Old browsers */
  background: -moz-linear-gradient( #ff1e1e, #fce8e8);
  background: -webkit-linear-gradient(#ff1e1e, #fce8e8);
  background: linear-gradient(#ff1e1e, #fce8e8);
  color: #000;
  z-index: 2;
}

.logo-container {
  width: 60%;
  align-self: center;
}

#introduction p {
  font-weight: 700;
  font-size: 1.25em;
}

#start {
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  align-self: center;
  width: 60%;
  height: 60px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: 5px solid #0276FD;
  padding: 10px;
}

#start:hover {
  color: #000;
  background: #fff;
}

.example-container {
  align-self: center;
  border: 5px solid #0276FD;
  border-radius: 5px;
  padding: 5px;
  width: 60%;
}

/* BODY */

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  text-align: center;
}

#root {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
  align-content: stretch;
  margin: 60px auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.logo-container-play {
  flex: 1 1 auto;
}

#score-box {
  align-self: flex-start;
  border: 5px solid #0276FD;
  padding: 10px;
  background: #fff;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.6);
}
#high-score {
  align-self: flex-start;
  border: 5px solid #0276FD;
  padding: 10px;
  background: #fff;
  box-shadow: -4px 4px 4px 2px rgba(0, 0, 0, 0.6);
}

#target-word {
  margin: 0 auto 20px auto;
  background: #fff;
  border-radius: 5px;
  border: 5px solid #0276FD;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.6);
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 0 20px;
}

#current-level {
  border: 5px solid #0276FD;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-self: center;
  width: 10%;
  margin: 0 0 20px 0;
}

#choices-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: auto;
  width: 100%;
  height: 150px;
}

.choice-button {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  display: block;
  margin: 1%;
  width: 45%;
  height: 60px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: 5px solid #0276FD;
  padding: 10px;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}

.choice-button-hover {
  transform: scale(1.2);
  background: #fff;
  color: #000;
  letter-spacing: 8px;
  border-radius: 0;
  box-shadow: inset 0 0 0 5px #000;
}

.choice-button:nth-child(odd) {
  box-shadow: -4px 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.choice-button:nth-child(even) {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.6);
}


#countdown-timer {
  background: #fff;
  display: inline-block;
  font-size: 40px;
  padding: 20px;
  border: 5px solid #0276FD;
  border-radius: 5px;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.correct-choice {
  background: #fff;
  color: #000;
  box-shadow: inset 0 0 0 5px #000;
}

.play-again-appear {
  display: flex;
}

.play-again-hide {
  display: none;
}

#play-again {
  margin: 30px auto 20px auto;
  cursor: pointer;
  background: #fff;
  font-size: 40px;
  padding: 20px;
  border: 5px solid #0276FD;
  border-radius: 5px;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.6);
}

#play-again:hover {
  background: #000;
  color: #fff;
  font-size: 40px;
  padding: 20px;
  border: 5px solid #0276FD;
  border-radius: 5px;
}

.shimmy {
  -webkit-animation: shimmy 1s ease-out;
  -moz-animation: shimmy 1s ease-out;
  animation: shimmy 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-moz-keyframes shimmy {
 0% {
    -moz-transform: rotate(-30deg);
 }
 25% {
    -moz-transform: rotate(30deg);
 }
 50% {
    -moz-transform: rotate(-30deg);
 }
 75% {
    -moz-transform: rotate(30deg);
 }
 100% {
    -moz-transform: rotate(0);
 }
}

@-webkit-keyframes "shimmy" {
 0% {
    -webkit-transform: rotate(-30deg);
 }
 25% {
    -webkit-transform: rotate(30deg);
 }
 50% {
    -webkit-transform: rotate(-30deg);
 }
 75% {
    -webkit-transform: rotate(30deg);
 }
 100% {
    -webkit-transform: rotate(0);
 }
}

.bounce {
  -webkit-animation: bounce 0.4s ease-out;
  -moz-animation: bounce 0.4s ease-out;
  animation: bounce 0.4s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-moz-keyframes bounce {
 0% {
    -moz-transform: scale(1.1);
 }
 25% {
    -moz-transform: scale(1.2);
 }
 50% {
    -moz-transform: scale(1.6);
 }
 75% {
    -moz-transform: scale(1.2);
 }
 100% {
    -moz-transform: scale(1.1);
 }
}

@-webkit-keyframes "bounce" {
 0% {
    -webkit-transform: scale(1.1);
 }
 25% {
    -webkit-transform: scale(1.2);
 }
 50% {
    -webkit-transform: scale(1.6);
 }
 75% {
    -webkit-transform: scale(1.2);
 }
 100% {
    -webkit-transform: scale(1.1);
 }
}

.strobe {
  margin: auto;
  background: transparent;
  -webkit-animation: pulse 1s ease-out;
  -moz-animation: pulse 1s ease-out;
  animation: pulse 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0.4);
    opacity: 0.4;
 }
 25% {
    -moz-transform: scale(0.5);
    opacity: 0.6;
 }
 50% {
    -moz-transform: scale(0.6);
    opacity: 0.8;
 }
 75% {
    -moz-transform: scale(0.7);
    opacity: 1.0;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0.4);
    opacity: 0.4;
 }
 25% {
    -webkit-transform: scale(0.5);
    opacity: 0.6;
 }
 50% {
    -webkit-transform: scale(0.4);
    opacity: 0.8;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 1.0;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}


.footer {
  margin: 10px;
}

.footer a {
  padding: 10px;
}

footer img {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
}
footer img:hover {
  margin: -5px;
  border: 5px solid #0276FD;
  background: #fff;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.6);
}
